<%= form_with model: @activities, local: true do |form| %>

  <% if @activities.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@activities.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @activities.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :Назва %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :Опис %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>